/Sobrecarga/nbproject/private/
/Sobrecarga/build/
/Sobrecarga/dist/
/Sistema_Compras_Vendas/nbproject/private/
/Sistema_Compras_Vendas/build/
/Sistema_Compras_Vendas/dist/
/Encapsulamento/nbproject/private/
/Encapsulamento/build/
/Encapsulamento/dist/